* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth; 
    -webkit-overflow-scrolling: touch;
  }
  
  @media (max-width: 1080px) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 720px) {
    html {
      font-size: 54%;
    }
  }

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] {
    position: relative;
    border: 0.5rem solid dodgerblue;
    height: 64rem;
    width: 110rem;
    margin: 1.5rem;
    background-color: deepskyblue;
    overflow: hidden;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #303030;
    color: aliceblue;
}

.passaro {
    position: absolute;
    width: 6rem;
    left: calc(50% - 3rem);
    bottom: 50%;
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 3rem;
    width: 13rem;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 0.2rem solid #000;
}

.barreira .corpo {
    height: 15rem;
    width: 11rem;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 0.2rem solid #000;
    border-right: 0.2rem solid #000;
}

.progresso {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: Pixel;
    font-size: 7rem;
    z-index: 10;
    color: #000;;
} 


@media (max-width: 1100px) {
    [wm-flappy] {
        height: 52,5rem;
        width: 90rem;
    }
  }

  @media (max-width: 850px) {
    [wm-flappy] {
        height: 35rem;
        width: 60rem;
    }

    .passaro {
        width: 3rem; 
    }

    .barreira .borda {
        height: 1.5rem;
        width: 7rem;
    }

    .barreira .corpo {
        height: 7rem;
        width: 5.5rem;
    }

    .progresso {
        font-size: 3.5rem;
    }
  }

  @media (max-width: 530px) {
    [wm-flappy] {
        height: 17.5rem;
        width: 30rem;
    }

    .passaro {
        width: 1.5rem; 
    }

    .barreira .borda {
        height: 0.7rem;
        width: 3.5rem;
    }

    .barreira .corpo {
        height: 3rem;
        width: 3rem;
    }

    .progresso {
        font-size: 2rem;
    }
  }